<div class="container-fluid text-center">
  <div class="row shadow-sm">
    <div class="col-md-6 about-info text-md-start">
      <h1 class="mx-md-5">
        <span class="d-block text-dark">About</span>
        <span class="d-block text-primary">Company</span>
      </h1>
      <p class="mx-md-5 mt-4 paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem,
        esse magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
        sint suscipit illum omnis minus expedita, quis iusto dolore, non ullam
        ad deserunt, illo aut odio!
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/img/about.jpg"
        class="header-image img-fluid"
        alt="Meeting"
      />
    </div>
  </div>

  <div class="team">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Meet our <span>team</span></h2>
      </div>
      <div class="col-lg-4 mb-5 mt-2 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="../../../assets/img/team/t1.jpeg"
            class="img-fluid custom-circle-image team-image me-4"
            alt
          />
          <div class="team-info">
            <h5 class="mb-0">lorem</h5>
            <strong class="text-muted">lorem </strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mt-2 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="../../../assets/img/team/t2.jpeg"
            class="img-fluid custom-circle-image team-image me-4"
            alt
          />
          <div class="team-info">
            <h5 class="mb-0">lorem</h5>
            <strong class="text-muted">lorem</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-5 mt-2 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="../../../assets/img/team/t3.jpeg"
            class="img-fluid custom-circle-image team-image me-4"
            alt
          />
          <div class="team-info">
            <h5 class="mb-0">lorem</h5>
            <strong class="text-muted">lorem</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>