<div
  id="carouselExampleCaptions"
  class="carousel slide pt-5"
  data-bs-ride="carousel"
>
  <div class="carousel-inner mt-4">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="../../../assets/img/slideshow/medium-shot-business-women-high-five.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption caption">
        <h1>Create and share your whatever</h1>
        <h2>Make it easy for you to do whatever this thing does.</h2>
        <button class="btn btn1 p-3" routerLink="/about">More About</button>
      </div>
    </div>
    <div class="carousel-item mt-4" data-bs-interval="2000">
      <img
        src="../../../assets/img/slideshow/team-meeting-renewable-energy-project.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption caption">
        <h1>Create and share your whatever</h1>
        <h2>Make it easy for you to do whatever this thing does.</h2>
        <button class="btn btn1 p-3" routerLink="/about">More About</button>
      </div>
    </div>
    <div class="carousel-item mt-4" data-bs-interval="2000">
      <img
        src="../../../assets/img/slideshow/two-business-partners-working-together-office-computer.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption caption">
        <h1>Create and share your whatever</h1>
        <h2>Make it easy for you to do whatever this thing does.</h2>
        <button class="btn btn1 p-3" routerLink="/about">More About</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<app-about></app-about>
<app-contact></app-contact>
