<div class="nav-background">
  <div class="d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#"></a>
    <form class="form-inline search-bar mx-3">
      
        <!-- <div>
          <input
            class="form-control p-2"
            id="search"
            type="search"
            placeholder="Search here"
            aria-label="Search"
          />
        </div> -->
        <!-- <di3
        class="profile-container image-container"
          (mouseover)="showDropdown()"
          (mouseout)="hideDropdown()"
        >
          <img
            src="../../../../../assets/img/team/t4.webp"
            class="navbar-image rounded-circle mb-2 me-2"
          />
          <span class="profile-name">first_name last_name </span>

          <ul class="dropdown-list" *ngIf="dropdownVisible">
            <li>
              <a><i class="bi bi-person mx-2"></i>Profile</a>
            </li>
            <li>
              <a><i class="bi bi-bell mx-2"></i>Notifications</a>
            </li>
            <li>
              <a href="#" class="dropdown-item" (click)="logout()"
                ><i class="bi bi-box-arrow-left mx-2"></i>Logout</a
              >
            </li>
          </ul>
        </div> -->
        <ul class="ms-4 mt-4">
          <li class="dropdown">
            <a class="text-light text-decoration-none" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle me-2" src="../../../assets/img/team/t1.jpeg" alt="User image" style="width: 35px; height: 35px">Dipak Jamdar <i class="bi bi-caret-down-fill"></i>
            </a>
            <ul class="mt-3 dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#"><i class="bi bi-person mx-2"></i> My Profile</a></li>
              <li>
                <a class="dropdown-item" href="#"><i class="bi bi-bell mx-2"></i>Notifications</a>
              </li>
              <li><a class="dropdown-item" href="#" (click)="logout()"><i class="bi bi-box-arrow-left mx-2"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg mx-4 mt-2">
    <ul class="navbar-nav navbar-items d-flex flex-row ml-auto">
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard"
          routerLinkActive="active"
          class="nav-link p-3"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="bi bi-people me-2"></i>Dashboard</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard/employee"
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-people me-2"></i>Employees</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard/calendar"
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-calendar-event me-2"></i>Calendar</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard/leave"
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-briefcase me-2"></i>Leave</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-rocket-takeoff me-2"></i>Reports</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard/manage"
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-arrow-repeat me-2"></i>Manage</a
        >
      </li>
      <li class="mx-3">
        <a
          routerLink="/leave-management/admin-dashboard/leave-request-setting"
          routerLinkActive="active"
          class="nav-link p-3"
          ><i class="bi bi-gear me-2"></i>Settings</a
        >
      </li>
    </ul>
  </nav>
</div>
