.navbar {
  background-color: #353847 !important;
  color: #ffffff;
  height: 7rem;
}

.dropdown-item:hover {
  background-color: #ddd;
}

@media (max-width: 991.98px) {
  .navbar {
    height: auto;
  }
  .navbar-brand {
    display: flex !important;
    justify-content: center;
    width: 100%;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin-bottom: 1rem;
  }
  .navbar-nav .nav-item .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0.5rem;
  }
}
